:root { 
--red_600:#da4444; 
--red_300:#ea666e; 
--deep_orange_400_00:#fa6c5800; 
--red_400:#f75243; 
--light_blue_400:#31b5e9; 
--green_600:#3dab24; 
--teal_600:#0b8c6c; 
--cyan_A400_66:#00d2ff66; 
--yellow_700:#f9be3c; 
--deep_orange_300:#fa9258; 
--deep_orange_400:#fa6c58; 
--deep_orange_301:#fa9158; 
--pink_400:#f3407d; 
--purple_400:#9b51e0; 
--gray_501:#aca6a6; 
--gray_700:#606060; 
--gray_500:#a0a0a0; 
--orange_A200:#f2994a; 
--blue_700:#3a7bd5; 
--blue_800:#1d57c8; 
--gray_900:#121212; 
--gray_300:#e5e5e5; 
--gray_100:#f6f6f6; 
--indigo_200:#a0bce0; 
--white_A700:#ffffff; 
}